$steam-lightblue: rgb(27, 40, 56);
$steam-darkblue: rgb(23, 26, 33);
$steam-grey: rgb(197, 195, 192);
$steam-lightgrey: rgb(184, 185, 186);
$steam-bluegrey: rgb(44, 50, 59);
$steam-buttonblue: rgb(9, 76, 113);
$steam-white: rgb(255, 255, 255);
