@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.site-header {
  display: flex;
  background-color: $steam-darkblue;
  height: 100px;
  justify-content: center;
  position: relative;

  &__title {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 35px;
    &__text {
      padding-top: 2px;
      font-size: 29px;
      font-weight: 600;
      color: $steam-white;
    }
    &__logo {
      height: 60%;
      margin-left: -18px;
    }
  }
  &__open-panel {
    position: absolute;
    left: 0;
    height: 50px;
    width: 50px;
    // background-color: red;
    border: none;
    outline: none;
    background-color: $steam-darkblue;
    background-image: url("../../assets/menu.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
    margin-top: 10px;
    &:hover {
      width: 51px;
      height: 51px;
    }
  }
}
