@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.panel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $steam-darkblue;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  &__close-panel {
    background-color: blue;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
  }
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
}
